<div class="row lui">
    <div class="col-lg-3 ">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              Users
            </a>
            <a href="#" class="list-group-item list-group-item-action">Departments</a>
            <a href="#" class="list-group-item list-group-item-action">Devices</a>
            <a href="#" class="list-group-item list-group-item-action">Roles</a>
          </div>
    </div>
    <div class="col-lg-9 ">
      Content
    </div>
  </div>